.explore {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.explore__title {
  font-family: "ClashGrotesk-Variable";
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 0 114px;
  padding: 164px 0 0 0;
}

.explore__canvas {
  border: 3px solid #fff;
  border-radius: 30px;
  margin: 66px 114px 44px 113px;
  background-color: black;
  overflow: hidden;
}

.explore__mw {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0 67px 0 49px;
}

.explore__image-development {
  margin: 55px 67px 0 49px;
}

.explore__image {
  width: 100%;
}

.explore__button {
  font-family: "ClashGrotesk-Variable";
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.2em;
  text-align: left;
  background-color: #fff;
  border: none;
  padding: 13px 49px 13px 49px;
  border-radius: 30px;
  margin: 0 113px 50px 0;
  width: 204px;
}

.explore__btn {
  display: flex;
  justify-content: flex-end;
}

.explore__button:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  transition: ease-in 1s;
  cursor: pointer;
}

.explore__span {
  border-bottom: 2px solid #fff;
  margin: 0 122px 0 105px;
}

.explore__info {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 16px 114px 16px 114px;
}

.svgMap-map-image {
  background-color: lightblue;
}

@media screen and (max-width: 760px) {
  .explore__info {
    margin: 20px 30px;
  }

  .explore__button {
    margin-right: 30px;
  }

  .explore__title {
    margin-left: 30px;
  }

  .explore__span {
    margin: 0 30px 0 30px;
  }
}

@media screen and (max-width: 510px) {
  .explore__title {
    margin-left: 20px;
    padding-top: 30px;
  }

  .explore__info {
    font-size: 16px;
    margin: 20px;
  }

  .explore__mw {
    font-size: 16px;
    margin: 10px 20px;
  }

  .explore__image-development {
    margin: 10px;
  }

  .explore__span {
    margin: 0 10px 0 10px;
  }

  .explore__canvas {
    margin: 20px 10px;
  }

  .explore__button {
    margin-right: 20px;
    width: 100px;
    padding: 10px;
    font-size: 16px;
  }
}
