.footer {
  background-color: #212121;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-family: "ClashGrotesk-Variable";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 77px;
  padding-top: 68px;
}

.footer__contact {
  padding-top: 68px;
}

.footer__address {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 40px;
}

.footer__logo {
  width: 257px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin: 0 209px 0 77px;
}

.footer__email {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.footer__info-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 54px;
}

.footer__nav {
  font-family: "ClashGrotesk-Variable";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.footer__subscribe {
  display: flex;
  padding-top: 68px;
  flex-direction: column;
  font-family: "ClashGrotesk-Variable";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0 100px 54px 0;
}

.footer__subscribe-title {
  display: flex;
}

.footer__subscribe-nav {
  display: flex;
  margin-top: 66px;
}

.footer__input {
  border: 2px solid #fff;
  border-radius: 30px;
  background: transparent;
  padding: 9px 0 8px 20px;
  color: #fff;
  font-size: 15px;
  margin-right: 10px;
  width: 200px;
}

.footer__input::placeholder {
  color: #fff;
  font-family: "ClashGrotesk-Variable";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__button {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  border-radius: 30px;
  border: none;
  background-color: #fff;
  padding: 5px 50px 5px 38px;
  text-transform: uppercase;
  height: 100%;
}

.footer__button:hover {
  transition: ease-in 1s;
  color: #fff;
  background: #000;
}

.footer__span {
  border-right: 1px solid #fff;
  margin: 0 16px 0 16px;
}

.footer__logo2 {
  display: none;
}

@media screen and (max-width: 950px) {
  .footer__input {
    width: 100px;
    margin-right: 0;
  }

  .footer__input {
    margin-right: none;
  }

  .footer__contact {
    margin-right: 20px;
  }
}

@media screen and (max-width: 760px) {
  .footer__subscribe-nav {
    display: none;
  }

  .footer__subscribe-title {
    display: none;
  }

  .footer__contact {
    display: none;
  }

  .footer__subcribe-content {
    display: none;
  }

  .footer__content {
    display: none;
  }

  .footer {
    justify-content: center;
  }

  .footer__logo2 {
    display: flex;
    margin: 10px auto;
  }

  .footer__subscribe {
    display: none;
  }
}
