.future {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.future__title {
  font-family: "ClashGrotesk-Variable";
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 50px 0 0 105px;
}

.future__span {
  border-bottom: 2px solid #fff;
  margin: 30px 122px 0 105px;
}

.future__info {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 215px 56px 105px;
}

.future__title-info {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 105px;
}

.future__image {
  margin: 0 67px 0 49px;
}

.future__image-solar {
  margin: 55px 67px 0 49px;
}

.future__solar-info {
  font-family: "ClashGrotesk-Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 50px 67px 60px 49px;
}

@media screen and (max-width: 760px) {
  .future__info {
    margin: 20px 30px;
  }

  .future__title {
    margin-left: 30px;
  }

  .future__span {
    margin: 30px;
  }
}

@media screen and (max-width: 510px) {
  .future__title {
    margin-left: 20px;
  }

  .future__info {
    font-size: 16px;
    margin: 20px 20px 20px 20px;
  }

  .future__solar-info {
    font-size: 16px;
    margin: 10px 20px;
  }

  .future__image-solar {
    margin: 10px;
  }

  .future__span {
    margin: 10px;
  }

  .future__image {
    margin: 10px;
  }
}
