.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 57px 0 43px 149px;
}

.header__nav {
  background-color: #212121;
  width: 616px;
}

.header__nav-links {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0 60px 0;
  font-family: "Clash Grotesk Variable";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

a:hover {
  color: gray;
  transition: ease-in 1s;
}

@media screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
  }

  .header__logo {
    margin: 57px auto;
  }

  .header__nav {
    width: 100%;
  }
}
