.region {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.region__title {
  font-family: "Clash Grotesk Variable";
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 69px 0 0 105px;
}

.region__info {
  font-family: "Clash Grotesk Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 60px 215px 775px 105px;
}

.region__title-info {
  font-family: "Clash Grotesk Variable";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.17em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 0 105px;
}
